{{>layout/header}}

<h1>스프링부트 웹 서비스</h1>
<div class="col-md-12">
    <!-- 목록 출력 영역 -->
    <h2>회원 정보를 입력하세요.</h2>
    <form action="" method="post">
        아이디 : <input type="text" id="id"> <hr>
        비밀번호 : <input type="password" id="password"><hr>
        이메일 : <input type="email" id="email"><hr>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="memberSingup">가입</button>

    </form>
</div>

{{>layout/footer}}